[2022-02-28 08:48] brendon opened #1 "Compatibility with Solution 3000 board"
Hi there, I was wondering what you thought about the possibility of this software working with the Bosch Solution 3000 panel?

I think it might work quite similarly to the B and G series boards. TCP/SSL on port 7700. There is a Vera integration already written (apparently by Bosch): https://boschsecurityaustralia.freshdesk.com/support/solutions/articles/35000135521-solution-2000-3000-configuration

[2022-02-28 16:20] EHylands commented on #1
Hi,
Solution Series panels with firmware version 4.06 and higher support Bosch Intrusion Integration Protocol mode 2 on which this plugin is based.

Is there a way to set "Automation Device" to "Mode 2" and an "Automation passcode" with A-Link software ?

If you can get pass initial connection with your automation passcode, Points(zones) sensors and Output accessories should be working properly be

[2022-02-28 19:59] brendon commented on #1
Hi @EHylands, My panel has firmware version 2.0.0 which seems to be the latest:

https://boschsecurityaustralia.freshdesk.com/support/solutions/articles/35000147299-solution-2000-3000-firmware-version-2-0-0

If there's a newer firmware I'd be keen to try it out but I can't seem to find one :)

Here are screenshots of the relevant config areas in A-Link (to do with networking). I can't see any part

[2022-02-28 21:12] EHylands commented on #1
Deleted your last comment because you posted private encryption key and password in your pictures.

1- Could not find firmware 4.06 stated in IIP Mode 2 specification either. Wrote an email to Bosch support to find out if Solution 2000/3000 panels support IIP Mode 2 or not. Awaiting reply.

2- Wich TLS version is your panel using ? Before upgrading my firmware, Node.js could not establish a secure

[2022-02-28 22:42] brendon commented on #1
Thanks @EHylands, I must have missed the key when I was checking through the images.

I was able to openssl to the panel last night. It just failed to verify the certificate. I'll try again tonight to see what the output is.

I did notice that there is probably a firmware upgrade for the ethernet board and found some instructions on how to access that on another IP address to initiate the firmware

[2022-02-28 23:46] EHylands commented on #1
﻿Are you using the B426-M module for ethernet network connection ?

In this module newest documentation iI found the following configuration option:

Web and Automation Security

This setting also enables TLS security for Automation.

Is your B426 up to firmware 3.05 ?

[2022-02-28 23:49] brendon commented on #1
Yes that's what I have. Is that configuration option in the card's private web interface? If so, I'll have a go at accessing it tonight. I remember accessing it when I was setting it up for the Bosch Cloud RSC+ service. I'd assume it's already enabled but it might be in a mode that's only concerned with the Bosch integration.

[2022-03-01 09:01] brendon commented on #1
After a direct connect reprogram the unit no longer boots at all (even without the ethernet module installed). I've tried a factory reset but unfortunately no dice. I've left it unplugged overnight to see if it comes right in the morning. Perhaps the system was partially failing the whole time?

[2022-03-01 21:17] EHylands commented on #1
https://resources-boschsecurity-cdn.azureedge.net/public/documents/Bosch_B450_IOG_Installation_Manual_enUS_9007212492304267.pdf

Check page 41 of that guide.
Any hearthbeat error code on your module ?

[2022-03-01 21:20] brendon commented on #1
Oh it's worse than that :D It's the actual Solution 3000 board that's dead. I did just find a video on re-flashing it from the DLA module (which has a built in copy of the firmware). I'll load the latest firmware on to the DLA and try re-flashing it tonight.

[2022-03-02 03:18] brendon commented on #1
Crisis over. Turns out I accidentally half-flashed it by leaving the DLA plugged in when it booted. I've upgraded the Solution 3000 board to the latest firmware 2.0.5.0 as part of the fixing process. Will continue to try and gain access to the web interface for the card, though from what I understand programming from A-Link is supposed to supersede this.

[2022-03-17 18:50] brendon commented on #1
That's interesting @sanjay900 :) Sadly I never even got that far. What model ethernet card do you have, and are you using the Solution 3000? I have a B426-M but I'm starting to suspect these are only designed to talk to the Bosch cloud servers. Since updating the firmware on mine it doesn't even function as a cloud card either though. I've got some troubleshooting info from Bosch that I will try t

[2022-03-17 19:13] sanjay900 commented on #1
That's the exact module I have!

[2022-03-17 19:16] brendon commented on #1
I used to be able to but no longer. I'm going to go in there now and restore the backup I took before I started messing around (I have a DLA fortunately). If that brings up the cloud interface again then I'm half-way there by the sounds of it :)

[2022-03-17 19:19] sanjay900 commented on #1
The only issue is we would need to implement a polling based implementation as subscribing to events does not seem to work, but for example if i send out a signal to poll point 5, and then walk infront that PIR sensor i do see that result

[2022-03-17 19:26] brendon commented on #1
Do you have the latest firmware on the panel? I have 2.0.5.0 that I can email you.

[2022-03-17 19:42] EHylands commented on #1
Thank you for providing help with Solution 2000 and 3000 panels.

Unfortunately, Bosch US can't provide any support on those panels since not available in our area.

Automation passcode are only available on B and G panels. Thank you for providing a function to use pin code on other panels.

As per protocol documentation, subscription notifications (push) are only available with protocol version 5

[2022-03-17 19:53] sanjay900 commented on #1
Interestingly enough, you have to use both an automation passcode and a pin code on the 3000.  The automation passcode can be set via A-Link

[2022-03-17 20:14] brendon commented on #1
Thank you both :) I was unable to bring my board back to life yet but I'm working with Bosch Australia to try and fix it.

@EHylands, I'm not sure if it helps, but the support email I'm using for Bosch Australia is [technical.support@au.bosch.com](mailto:technical.support@au.bosch.com). Perhaps they'd be able to help you with what you were looking for?

[2022-03-17 20:59] sanjay900 commented on #1
@EHylands There was one other thing, whenever i was reading text, the code would just fail and i presume its because all the text is empty on my panel
i ended up having to change to the following, or variations of the following for all the functions that read text
[code]

[2022-03-17 21:02] sanjay900 commented on #1
unfortunately I think im just running 2.0.0, and I do not have a DLA to do the update either

[2022-03-17 21:49] brendon commented on #1
That's unfortunate. I see you're in NZ. I could post you mine if you wanted to borrow it for the update?

[2022-03-17 21:49] brendon commented on #1
Though I don't think the update would add any functionality as from memory it was just bug fixes.

[2022-03-17 22:40] sanjay900 commented on #1
Yeah I didn't see any new functionally and I don't want to accidentally brick my one haha

[2022-03-17 22:53] brendon commented on #1
Touché, you don't want to end up my boat. I think my B426-M is bricked in a way.

Out of interest, does the Vera controller Lua script poll the Solution 3000 for state or does it perhaps subscribe to events in another way unique to the Solution series?

[2022-03-17 22:56] EHylands commented on #1
@brendon If it can make you feel better, I blew fuses on my first B Panel and B520 auxiliary power unit .... Had to buy brand new components!

[2022-03-17 23:04] sanjay900 commented on #1
@brendon it polls, I was able to whip up something that used it's method of polling and if I waved my hand in front of the sensor in my room I saw that reflected in the output. I'm probably going to be porting this all to home assistant as I'm using that and not home ridge myself

[2022-03-17 23:41] sanjay900 commented on #1
@EHylands heh I blew the fuse on my gate controller once, luckily I had a spare fuse and it still worked but I was worried for a bit haha

[2022-03-18 00:21] brendon commented on #1
Haha! Sounds like we've all had our fair share of misadventure! :D Polling it is then! :)

[2022-03-18 00:22] sanjay900 commented on #1
Oh something else crossed my mind, it turns out that the WhatAreYou packet is actually different for the solutions 3000.... its just [1.1.1] not [1.2.1.1]

[2022-03-18 00:33] EHylands commented on #1
@sanjay900 Funny, as per protocol, both should be supported for Mode2WhatareYou Command Format #1 (Protocol Version 1.14)

[ Protocol 0x01, Length 0x01 , Command 0x01]

or

[ Protocol 0x01, Length 0x02 , Command 0x01 , Command Format 0x01]

You event get A-Link protocol information with:
[ Protocol 0x01, Length 0x02 , Command 0x01 , Command Format 0x03]

[2022-03-18 00:47] sanjay900 commented on #1
Must just not be something supported on the 3000, as it just returns <Buffer 02 fd 00> if i use 1,2,1,1

[2022-03-18 00:48] sanjay900 commented on #1
do you have the documentation for the protocol handy? It would be nice to look at

[2022-03-18 00:53] EHylands commented on #1
@sanjay900
0x02: response packet length
0xFD: Negative Acknowledgement (NAK) (Command error)
0x00: Non-specific error

Just changed my code for [1,1,1] as it works perfectly too.

Documentation is a 240 pages long pdf document
Amazing complete protocol. Fun reading !

Need to write to Integrated.Solutions@us.bosch.com and ask for Intrusion Integration Protocol (Mode2) documentation.
They were quic

[2022-03-18 01:34] EHylands commented on #1
@sanjay900  I checked on my Panel by removing all output text and everything works well without any modifications.

Are there any major differences in protocol implemenation between BG Panels and Solutions 2000-3000 Panels ?

For Mode2ReqOutputText function:
The shortest response you can get for output #1 without text is 0x04
[0x04, 0xFE,0x00,0x01,0x00]
(DataLength, 0xFE, Output Number MSB, Output

[2022-03-18 01:45] sanjay900 commented on #1
Ive sent a message to bosch australia, i will see if i get a response or not. I guess we can assume that the 3000 handles text differently?

[2022-03-18 02:24] sanjay900 commented on #1
Ah, so it appears that the solution 3000 does in fact treat text differently.
It does not include the number at all, the text just immediately follows the length of the packet.

[2022-03-18 06:39] sanjay900 commented on #1
Not sure if this will help, but here is my rewrite of that lua code in python:
https://github.com/sanjay900/solutions3000-home-assistant/blob/main/solutions3000.py

[2022-03-18 11:41] sanjay900 commented on #1
My code seems to work okay with home assistant now, which was really all I was after.

[2022-03-18 20:38] brendon commented on #1
Hey nice work! Can’t wait to get a working board so I can try this myself :)

[2022-03-18 21:20] sanjay900 commented on #1
Interestingly, I did ask Australia for documentation on mode 2, but they said I would have to sign an NDA for it, which wouldn't help us much being that this is open source.

Interestingly though they are working on a new firmware for home automation appearently

[2022-03-19 00:02] brendon commented on #1
That is super interesting isn’t it given the overall basics of the protocol are already out there. Nice that they responded to you as they just ignored me :) I think the pressure is probably on to make these products work with home automation frameworks so good to see them working on it. Thanks for the update :)

[2022-03-19 00:16] sanjay900 commented on #1
Funnily enough it was the product manager of the solutions 3000 that got back to me which is not what i was expecting

[2022-03-19 01:47] sanjay900 commented on #1
![image](https://user-images.githubusercontent.com/1862720/159102134-5935c6e3-74de-49d9-8ae4-c3bd22b4dfbd.png)

[2022-03-19 02:03] EHylands commented on #1
@sanjay900 Great job !

Went through your python code. Only reason I didn't use await/promise in my code is you never know when you will get a push notification from the panel (protocol 0x02) while issuing a 0x01 protocol command at the same time.

Hope you can get subscriptions working on your panel !

[2022-03-19 02:14] sanjay900 commented on #1
Yeah i think my plan will be to just wait for them to release their new protocol for home automation. I've asked them if they plan on implementing something for home assistant themselves. Polling while ugly works quite well, and home assistant handles that all for me so im not to worried about polling for info.

[2022-03-19 02:20] EHylands commented on #1
Well, it looks like your own Home Assistant implementation will be completed in no time !!

[2022-03-21 04:05] sanjay900 commented on #1
hopefully that helps enough for getting this working too!

[2022-03-22 05:12] sanjay900 commented on #1
@EHylands Do you have a copy of the documentation you based this code on?
Also, is there a command for getting the type for a point? im trying to work out if something is a smoke detector or a motion sensor

[2022-03-22 05:29] EHylands commented on #1
@sanjay900 I contacted Bosch US to get a copy of the documentation: Integrated.Solutions@us.bosch.com

I would rather not distribute this document publicly myself since it is not available online.

There is no function to determine the type of sensor or point profil associated with a point. Any type of NO/NC sensor could be connected to this control panel with proper wiring. This is why user need

[2022-03-22 05:45] EHylands commented on #1
@sanjay900 Is is possible you code is not sending properly a command last byte ?

WhatAreYou:
[1,1,1] works but not [1,2,1,1]

ReqPointText:
[1,4,3C,0,*,0] works in your case but not [1,5,3C,0,*,0,0] ?

Your code is not available online anymore so I can't double check.

[2022-03-23 08:19] sanjay900 commented on #1
https://github.com/sanjay900/solutions3000-home-assistant/blob/main/custom_components/solutions3000/solutions3000.py
With the WhatAreYou, i was originally using your code to test, and found it was in your code that i needed [1,1,1]

[2022-03-24 10:00] sanjay900 commented on #1
Do you know how to trigger the siren or strobe?

[2022-03-24 19:41] EHylands commented on #1
Mode2SetOutputState 0x32 to change output state associated with your Bell or Strobe on your panel.

[2022-03-24 23:14] sanjay900 commented on #1
what i find really odd is that when i use 0x30 to read the configured outputs, i just get all zeros back as if no outputs are configured, and when trying to read output text that also fails

[2022-03-24 23:41] sanjay900 commented on #1
Also, supposedly they are internally testing their new home automation focused firmware, and the product manager is chatting to the engineers about getting me an NDA to sign so that i can get access to documentation. I should still be able to keep my stuff open source but the engineers would have to okay that

[2022-03-25 03:44] EHylands commented on #1
0x30 returns a mask of all configured output if your user has authority to view them.

Can you control outputs in RSC+ app with same passcode ?

[2022-03-25 04:29] sanjay900 commented on #1
Your right, no outputs show there either, i guess i need to configure something from A-Link plus, however i could never get that working correctly either

[2022-03-25 09:50] sanjay900 commented on #1
I was watching a video on configuring the panel, and oddly it seems like the horn and strobe don't count as outputs that can be controlled from RSC+ either, you have to specifically set an output as "remote control" for it to show up in RSC+, so i guess the solution 3000 has another difference there.

[2022-03-25 10:59] sanjay900 commented on #1
good news is that the points and arming / disarming do work with a solution 2000

[2022-03-27 07:27] sanjay900 commented on #1
Do you have any idea what the format for the 0x15 raw history events response is? I would like to read that history data out, but annoyingly command 0x16 just does not work with my panel

[2022-03-29 10:10] sanjay900 commented on #1
Ah okay so parsing it is not fun but
https://github.com/sanjay900/solutions3000-home-assistant/blob/main/custom_components/solutions3000/solutions3000.py
and
https://github.com/sanjay900/solution3000-home-assistant/blob/main/custom_components/solutions3000/bosch_history.py

can parse the extended raw history command response

[2022-04-14 09:08] E46er commented on #1
Hi Guys, interesting reading this. It would be great to get a working plugin for Homebridge and the sol 3000.
I don't have the technical knowledge as yourself, so any plans to release a homebridge version?
Thanks heaps

[2022-04-15 18:30] EHylands commented on #1
Hi,
As per Bosch documentation, this plugin "should" work on Solution 3000 panels. However, @sanjay900 has discovered many differences between B panels and solution 3000 panels IP integration.

Official Solution 3000 serie documentation doesn't look to be available without signing an NDA.

Without physical or remote access to a Solution 3000 panel, it will be hard to change code ...

[2022-07-11 02:20] brendon commented on #1
Hi @sanjay900, how far down the track did you end up getting with your integration? Were you satisfied with the outcome? :)

[2022-07-11 04:32] sanjay900 commented on #1
My home assistant integration is working alright and quite a few people
seem to be using it at the moment.

On Mon, 11 Jul 2022, 2:21 pm Brendon Muir, ***@***.***> wrote:

[2022-07-11 04:40] brendon commented on #1
That's great to hear! :)

[2022-07-11 07:49] sanjay900 commented on #1
Ive also been in talks with bosch, and they are working on a home automation focused firmware, and once thats done they will send me a copy and documentation once i sign a NDA. I may do that, they say that i can publicly release a copy once its checked over by their devs, so that could be interesting.

The current problem is that the solution 3000 firmware doesn seem to support subscribing to even

[2022-07-11 08:51] brendon commented on #1
Thanks @sanjay900, good to hear they're still working on this. Hopefully they add those features as part of that firmware upgrade.

[2022-08-17 05:45] fredhandle opened #2 "Installation method"
Hi. I'm totally familiar with the Bosch B Series controllers. However relatively new to Home Assistant.
What is the method to install your homebridge-boschscontrolpanel plugin. Could you point me in the right direction please.

ThanksColin

[2022-08-17 05:58] fredhandle commented on #1
I can shed some light on the B/G Series vs the 2000/3000 controllers and the Mode2 automation if you are still interested. Also happy to share a 3000 with the latest firmware in your still working on this?

[2022-08-17 09:21] sanjay900 commented on #1
Id be down to hear what you know about it, im maintainting the home assistant firmware and any info you know would be great

[2022-08-17 09:25] sanjay900 commented on #2
If your after home assistant integration and have a solution 3000, ive written something specifically for that
https://github.com/sanjay900/solution3000-home-assistant

[2022-08-18 01:12] fredhandle commented on #2
Thanks sanjay900 but I have a B8512G controller

[2022-08-22 01:30] EHylands commented on #1
Thank you @fredhandle for your comments
https://github.com/sanjay900/solution3000-home-assistant/issues/3

Closing the issue
Homebridge plugin for B and G series is not compatible with Solution 3000 board for the moment.

[2022-08-22 01:34] EHylands commented on #2
@fredhandle This plugin is for Homebridge.
I did not look into HomeAssitant.

[2022-08-22 06:30] fredhandle commented on #2
@EHylands sorry I didn’t make that leap not being familiar with Homebridge. Is there any chance of developing a Home Assistant version?

[2022-08-22 23:53] EHylands commented on #2
@fredhandle Unfortunately, all my house integration systems are well supported by Homebridge for the moment and I have no plan to switch to HomeAssistant.

With proper documentation, I think it would be fairly easy to write an HomeAssistant plugin for anyone up to the challenge!

[2022-08-31 00:29] EHylands commented on #1
@sanjay900
@fredhandle
@brendon

Just released v0.5.0-beta in Homebridge-UI
Trying to provide Legacy Support for solution 2000-3000 panels (Maybe AMAX panel).
Only using older Command Format 1 API for Legacy Mode
Pooling panel for update rather then using push notifications.
Area Arming and Area Alarm Triggered still not implemented.

May have to do some fine tuning of the RSC Passcode command.
As

[2022-08-31 00:44] brendon commented on #1
Hi @EHylands, unfortunately I bricked my network card while trying to flash it. I'll look at ordering a new one to try this out on :)

[2022-08-31 10:21] sanjay900 commented on #1
I can't really test either as i don't have homebridge myself

[2022-09-04 16:15] EHylands commented on #1
@sanjay900 Are you still trying to detect active alarm on each area ?

[2022-09-04 23:26] sanjay900 commented on #1
I put an implementation in there but never actually got around to setting my alarm off, so i've got not idea if it works

[2022-09-05 20:03] EHylands commented on #1
I tried to read Event history on panel to detect alarm, without defenitive success.

Can now pool panel and detect alarms with following instructions:
Mode2ReqAlarmMemorySummary [0x08]
Mode2ReqAlarmMemoryDetail [0x023]

Both commands are version 1.23 and 1.24 and should be avalaible on your panel.

[2022-09-06 02:22] sanjay900 commented on #1
Cool, ill port that to my code base and give it a go at some point

[2022-09-06 04:28] sanjay900 commented on #1
I can confirm that those commands work, thank you!

[2022-09-06 05:50] sanjay900 commented on #1
I did notice that you use Mode2ReqAlarmMemorySummary, and then Mode2ReqAlarmMemoryDetail for every priority, was there a reason for doing this over just looking at the ones that have counts?
I found that the priorities are all off by one, so you need to subtract one.
Also, you can use a command format of 2 to include `BurglaryTamper` if you want that.
[code]

[2022-09-06 08:07] EHylands commented on #1
I wanted to detect alarm restoral. I agree that removing alarmpriority within every areas if count is 0 like you do it is more effective.

Also, still not detecting fault and tamper in my plugin so may only check for alarm priorities 7,8,9,10.

Alarm priorities are from 1 to 10 in protocol version 1 and from 1 to 18 in protocol version 5.

Its unclear exactly with commands are supported on other p

[2022-10-01 20:48] TheNastyness opened #4 "Plugin running in Child Bridge, keeps restarting Child Bridge after update"
Hey man - I've had great luck with this plugin ever since release!  I was doing some maintenance today on my Hombridge instance and was going through and updating various plugins.  I've got this plugin running in a Child Bridge.  After updating to the latest version today as well as updating UI X to 1.5.0, the child bridge process keeps restarting.  Any idea why this could be happening?  Let me kn

[2022-10-01 20:55] TheNastyness commented on #4
Here is the portion of the log detailing what is happening (with MAC address omitted):
[10/1/2022, 1:52:35 PM] [homebridge-boschcontrolpanel_bgseries] Launched child bridge with PID 2142
[10/1/2022, 1:52:35 PM] Registering platform 'homebridge-boschcontrolpanel_bgseries.BoschControlPanel_BGSeries'
[10/1/2022, 1:52:35 PM] [homebridge-boschcontrolpanel_bgseries] Loaded homebridge-boschcontrolpanel_b

[2022-10-01 21:21] EHylands commented on #4
Will look into that right now.
Can you try choosing "Force Legacy Mode" to see if tou get the same error ?

[2022-10-01 21:29] TheNastyness commented on #4
Thank you for the quick reply.  It seems that turning on "Force Legacy Mode" did indeed fix it.  I don't want to be running in Legacy mode though, do I?  I've got a B8512G panel.

[2022-10-01 21:58] EHylands commented on #4
Legacy mode sends one packet for each point to get PointText (Very Slow) while "Regular Mode" gets multiple PointText for every packet.

Legacy Mode was only to pin point error location.

Please disable Legacy Mode
In plugin configuration (in UI X), please install plugin alternate version 0.5.3 beta.
Log file will provide more information to further access error.

[2022-10-02 02:20] EHylands commented on #4
I did some further testing:
I was able to reproduce similar errors if a Point source was set to Output or Wireless with an unassigned point profile.
I dont have any wireless point, point monitoring output or ip cam. I missed that particular situation.
I hope version 0.5.3 beta will fix the issue.

[2022-10-02 18:55] TheNastyness commented on #4
0.5.3 beta seems to have resolved it, I've got Force Legacy Mode turned off and it's working fine.

I do have wireless devices on points 9 and 10, but neither have unassigned point profiles.  I do have a hardwired point that isn't being used... Hardwired point 8 was previously a water leak detector which was replaced by a HK native device.  This point has a unique name - "Basement Flood Sensor" bu

[2022-10-02 18:57] TheNastyness commented on #4
One other quick note, now that I have updated to 0.5.3 beta, I'm seeing Panel Confidence Messages in the Homebridge log even though I do not have this box checked in the plugin settings.

[2022-10-02 19:02] EHylands commented on #4
Thank you for the information.
Unassigned point profile was a situation I did not considered while rewriting some inner components of the controller.

I will issue a new release with the current fix.

Are you still running Homebridge in debug mode ? Confidence message are shown in debug mode.

[2022-10-02 19:33] TheNastyness commented on #4
Yes I’m in debug mode. Interestingly, while on 0.5.2, confidence messages didn’t show up in the logs with debug turned ON. I was in Legacy mode at that time per your recommendation.

[2022-10-02 19:44] EHylands commented on #4
There are no panel confidence message packet in legacy mode since the plugin is regularly pooling the panel rather than waiting for notifications (subscriptions).

[2022-10-02 22:41] TheNastyness commented on #4
Got it.

[2022-10-03 00:46] #4 closed

[2022-10-27 07:05] brendon commented on #1
Hi @EHylands, I've finally purchased a new Ethernet adapter card and also an 8 output card for the Solution 3000 so will see how it works with your plugin and report back once it arrives.

[2022-11-08 04:53] brendon commented on #1
Hi @sanjay900, my replacement network board has arrived and I've been able to connect to the system using A-Link and the Cloud method using the long ID code that's printed on the board (with the QR code).

I can't seem to connect locally on port 7700, or at least the log says:

`Control Panel Connection Error (connect ECONNREFUSED 192.168.1.73:7700)`

Is the A-Link password the long string used fo

[2022-11-08 14:00] EHylands commented on #1
With that error, it means your device is not listenning on port 7700.
I thing a further step is needed to enable mode2 automation on A-Link.
Trying to find spec again.

[2022-11-08 19:46] brendon commented on #1
You're correct @EHylands. I think the B426-M boards (cloud enabled) come configured with local connection disabled by default. I'm hoping since @sanjay900 has the same board, that he knows what to change in A-Link to enable that interface :)

[2022-11-09 01:28] EHylands commented on #1
@brendon, trying to go through B426-M config manual.

Did you enable encryption on your B426-M IP module ?
Network Module Porgraming -> Module [1-2] -> Encryption and Security Settings -> Enhanced Security Enable: Enable ?

- Can you ping 192.168.1.73 from your homebridge server ?
- Can you check if TLS encryption is enabled on port 7770: openssl s_client -connect 192.168.1.73:7700
(I get 'New, TL

[2022-11-09 01:32] #2 closed

[2022-11-09 02:27] brendon commented on #1
Hi @EHylands, I'm away from the house but have checked the config and Enhanced Security Enable is disabled. Should it be enabled?

I can recall that I can ping the IP address and it responds to pings. I'll try the openssl thing when I get home :)

[2022-11-09 02:31] EHylands commented on #1
Homebridge plugin will only work on a TLS > 1.0 connection.
Lets first see if TLS is enabled on your port 7700.

[2022-11-09 02:46] brendon commented on #1
Roger. I'll turn it on when I get home and see how it goes :)

[2022-11-09 04:16] sanjay900 commented on #1
funnily enough i didn't actually change anything myself

[2022-11-09 06:09] brendon commented on #1
Lol :) Would you mind me taking a look at your A-Link configuration pages for networking? (excluding any particular private config of course!) :D

[2022-11-09 06:49] sanjay900 commented on #1
![image](https://user-images.githubusercontent.com/1862720/200759069-bd139026-31cf-4458-8285-446b4a392f75.png)
![image](https://user-images.githubusercontent.com/1862720/200759100-c20a4a4e-ca45-4dc3-8df5-f2085ad5609f.png)
![image](https://user-images.githubusercontent.com/1862720/200759133-44e14658-25b1-4270-ba2f-189476a01b20.png)

[2022-11-09 06:55] brendon commented on #1
Hi @EHylands, I can confirm that I can ping the board fine but:
[code]

That's with Enhanced Security Enable: Enable.

[2022-11-09 06:56] sanjay900 commented on #1
I had this problem at one point for no reason and then it just fixed itself for absolutly no reason

[2022-11-09 06:57] sanjay900 commented on #1
What exactly did you want from A-Link?

[2022-11-09 06:58] sanjay900 commented on #1
![image](https://user-images.githubusercontent.com/1862720/200760681-9f740fb1-df30-4bdc-80fc-65484d043266.png)
![image](https://user-images.githubusercontent.com/1862720/200760752-ebe15858-33b1-42f0-9fe8-0fba33247010.png)

[2022-11-09 06:59] brendon commented on #1
Thanks @sanjay900, The entire web interface is disabled on this board and they even put a scary warning on the bag containing the board packaging saying not to visit the web interface or change the password or it would void the warranty :) They must have had some problems with people messing with their boards to the point of bricking them.

Yea I have A-Link running under Parallels on my Mac. Work

[2022-11-09 06:59] sanjay900 commented on #1
Is it possible that in disabling the web interface, they also disabled talking to it directly like this?

[2022-11-09 07:10] brendon commented on #1
That could be the case. Those two pages look promising. Perhaps the Maintenance and Other Options pages?

I've tried the settings on those first two pages to no avail.

[2022-11-09 07:18] sanjay900 commented on #1
![image](https://user-images.githubusercontent.com/1862720/200764142-164c1190-1d9f-4bf7-aacd-6ddc29c1074c.png)
![image](https://user-images.githubusercontent.com/1862720/200764185-2d6be754-c3df-4663-b0fb-e5b0fc94e456.png)

[2022-11-09 07:29] brendon commented on #1
Thanks man. No dice unfortunately. I tried everything but the Web Login Password as that was mentioned specifically on the scary warning and I doubt that would suddenly make it work. Pretty strange. I've turned on the cloud mode for now and I guess I'll just have to keep using the old school app. I see there's a firmware update for the new version of the app that fixes a few things so that'll be g

[2022-11-09 09:09] brendon commented on #1
That password didn't work on the old card.

[2022-11-09 09:22] brendon commented on #1
Out of interest I tried to use Wireshark to sniff traffic on the local network and all is quiet on that IP address when using the RSC+ app to arm and disarm. Traffic does show when I ping the card or attempt `openssl s_client -connect 192.168.1.73:7700` though it shows as TCP traffic. Not sure if that's of any help.

I wonder how the cloud stuff is communicating?

[2022-11-13 16:16] EHylands commented on #1
If you sniff wifi traffic on your laptop you may not catch traffic between your Bosch Panel and router.

Is it possible that with cloud connection, only an outbound connection from panel to bosch server is opened and that RSC app speak directly to bosch online server without using local port 7700?

Il manual installation, they were talking about installing b426-m on location 81 or 82 with option 1

[2022-11-13 17:05] EHylands commented on #1
![image](https://user-images.githubusercontent.com/90003064/201534354-c553dc16-0bba-4382-8491-68f287ace713.png)

[2022-11-13 17:06] EHylands commented on #1
![image](https://user-images.githubusercontent.com/90003064/201534406-9b379bcd-b8e7-4df1-bb88-36877a423efd.jpeg)

[2022-11-13 17:07] EHylands commented on #1
https://media.boschsecurity.com/fs/media/pb/media/products_1/intrusion_alarm_systems/programming_reference_guides/install-configure-solution-2000-3000-ip-module.pdf

In that manual, it says to use option "use and configure"

[2022-11-13 18:41] brendon commented on #1
Thanks @EHylands that could well be it :) I’ll have a look at that this evening. @sanjay900, what do you have configured for ‘External Network Modules’?

[2022-11-13 22:09] sanjay900 commented on #1
mine says 0,  but im starting to wonder if something is wrong with my a-link

[2022-11-13 22:25] EHylands commented on #1
@sanjay900 Do you have cloud connection enabled? Can both cloud connection and local automation on port 7700 be enabled at the same time on one b426-m network module ?

[2022-11-13 22:32] sanjay900 commented on #1
I presume the cloud connection is what RSC+ uses? I have that enabled and am still able to use home assistant.

For some odd reason, when i try to upload the settings from the panel into a-link, a-link just gets stuck and never seems to finish loading settings fully

[2022-11-13 23:20] brendon commented on #1
Yes 'Cloud' is what RSC+ uses. There's actually a recent firmware update for the Solution 3000 (within the last few months) plus version 6.x of A-Link which is available (and necessary) to connect to the board after that update. It was a little hard to find the latest A-Link version as they offer many as 'articles' on their website.

Do you have the direct connect module hardware (via the SDI2 bus

[2022-11-13 23:22] brendon commented on #1
Given I have that second 'broken' network card I'm going to try and set that to 'locally configured' too and see if the panel can configure it for local connection. If so, that would be a good way to have both the cloud support and a local interface to home bridge. That's assuming that the card is still operational. I'm just not able to log into its web interface currently because I don't know the

[2022-11-13 23:25] EHylands commented on #1
![image](https://user-images.githubusercontent.com/90003064/201550067-b565446c-a7f3-43dd-a2e2-f5f61431672e.jpeg)

B426-M seam to allow automations

Was Bosch AU support of any help ?

[2022-11-13 23:40] brendon commented on #1
Bosch AU's support is pretty basic. To me it seems like a walled garden they're keen to keep that way. They just literally don't reply when the question gets too technical. I think the B426-M boards are configured and sold specifically for their RSC+ app. The one thing I hadn't tried was not selecting the Bxxx-M mode with A-Link so perhaps using one of the other options will enable things locally.

[2022-11-14 00:34] sanjay900 commented on #1
What seems to happen when i use local network mode for A-Link, is i hit read and it just sits there trying to read data forever, even with version 6.x and with my home assistant plugin disabled. Ill have to find my cloud id and try that at some point

[2022-11-14 03:06] brendon commented on #1
I've managed to get the HTTPS server running but so far nothing on port 7700 via UDP

[2022-11-14 03:38] EHylands commented on #1
One last thing:
I saw in one off @sanjay900  post that "TCP Enable connection" option was set to disable.
In documentation, B426 is set to automatically accept connection on UDP port 7700.
IIP Mode 2 automation (in that homebridge plugin) runs over a TCP TLS connection.
Should TCP connection option be enabled?

<img width="531" alt="Screenshot 2022-11-08 at 8 10 25 PM" src="https://user-images.git

[2022-11-14 03:41] brendon commented on #1
I've enabled that option (coincidently at the same time you wrote that!) :) I now get a connection on 7700 but the log from your plugin reads:

[code]

[code]

Not sure where to from here. I'm also now unable to connect via the cloud interface or locally using A-Link so I'll probably have to direct connect to the panel with the dongle to restore that :)

[2022-11-14 04:10] EHylands commented on #1
1- Is it possible A-Link runs on UPD port 7700 and IIP automation runs on TCP port 7700 and both can't be enabled on the same port simultaneously. Can changing the local port option only affect the TCP connection ?

On my US panel, RSC App, RPS (Software like A-Link) and automation all run simultaneously on tcp port. No UDP traffic. I never bothered to configure the cloud connection ...

2-  My un

[2022-11-14 04:15] brendon commented on #1
I think you could be on to something. Here's what I get for port 443:

[code]

[2022-11-14 04:17] EHylands commented on #1
I guess we hate to try running homebridge plugin on port 443 !

[2022-11-14 04:24] brendon commented on #1
Ah! there we go. I disabled the 'cloud' and also turned off the web interface and I get a better response on 7700:

[code]

[2022-11-14 04:27] brendon commented on #1
I'm still getting `[14/11/2022, 5:25:37 pm] [BoschControlPanel_BGSeries] Control Panel Connection Error (This socket has been ended by the other party)` however.

Is the automation passcode going to be one of the user codes or the one listed as A-Link/RSC Password in A-Link which is currently just 0000000000 (10 zeros)? I've tried both to no avail.

[2022-11-14 04:40] brendon commented on #1
Oh weird, when I change the A-Link passcode setting to something else, I'm no longer able to connect to the device anyway. I'll have to reset it using the keypad. It must be hard coded to be 0000000000 in the A-Link software.

[2022-11-14 04:45] EHylands commented on #1
The first command to be sent to panel by the plugin is "WhatAreYou" and doesnt need authentification.

My last openssl command line is : Verify return code: 19 (self signed certificate in certificate chain)
Your last openssl command line is : Verify return code: 21 (unable to verify the first certificate)

Is the certificate installed on the solution panel expired ?
My US panel needed a firware up

[2022-11-14 05:00] EHylands commented on #1
I'm sorry, never used A-Link myself soo my experience is quite limited.

[2022-11-14 05:02] EHylands commented on #1
@sanjay900 Would you be able to provide output of your ssl handshake with panel ?

openssl s_client -connect [ip]:7700

[2022-11-14 05:08] EHylands commented on #1
![image](https://user-images.githubusercontent.com/90003064/201580180-87b30aff-51f7-4c29-a06c-f66f0df26696.jpeg)

[2022-11-14 05:34] brendon commented on #1
Lol you're right:

[code]

What a bummer. Problem is, there is no firmware updates for these things. The last one I got from Bosch 'bricked' the last network card I had. Though I might try swapping these two out now to see if it still configures. It might have a newer cert on it.

[2022-11-14 05:38] brendon commented on #1
As a side note, it also fails to connect when A-Link is disconnected too. I managed to get my Direct Connection (COM1) working again by resetting the A-Link password via the keypad. Will try that other card now.

[2022-11-14 06:27] sanjay900 commented on #1
notBefore=Apr 17 16:54:19 2012 GMT
notAfter=Apr 15 16:54:19 2022 GMT

[2022-11-14 06:33] brendon commented on #1
Yes, I suppose that's easier than getting anything out of Bosch :)

[2022-11-14 06:39] brendon commented on #1
@sanjay900, is there a one-liner that I can use on the command line (via openssl?) that would confirm that the card is responding correctly whilst skipping the cert check?

[2022-11-14 06:50] brendon commented on #1
I've also filed a ticket with Bosch Australia regarding the expired certificate.

[2022-11-14 06:58] sanjay900 commented on #1
[code]

This would let us see if it responds to `WhatAreYou`

[2022-11-14 07:10] brendon commented on #1
This is what I got:

[code]

Though after a while the card stopped responding.

[2022-11-14 07:10] sanjay900 commented on #1
Hmm, i get this:
[code]

[2022-11-14 07:42] brendon commented on #1
This is starting to ring some bells with the experience I had with the last card (before I bricked it). It responds for a while, then suddenly:

[code]

Then it comes back to life again. So weird.

[code]

I don't want to say that the Solution 3000 panel is faulty, but perhaps it is? Or perhaps the cloud thing tries to kick off every now and again and kills the interface (even though I have it dis

[2022-11-14 08:51] sanjay900 commented on #1
I have the cloud thing enabled, so it shouldn't be that?

[2022-11-14 12:42] EHylands commented on #1
@brendon : I will try to disable certificate date checking in typescript plugin. At the moment, it was only allowing for self signed certificate.

@sanjay900 is using context.verify_mode = ssl.CERT_NONE in python ( Validation errors, such as untrusted or expired cert, are ignored and do not abort the TLS/SSL handshake)

On a side note, Bosch automation documentation as a whole chapter explaining h

[2022-11-14 20:10] brendon commented on #1
Thanks @EHylands, would that encryption be related to the AES configuration?

The fickle nature of my ability to connect to this panel is worrying. I'm going to try resetting the main board when I have time and I'll also spin up a new 'Customer' in A-Link so that I just have default configuration. Perhaps there's a weird setting going on that's causing issues.

[2022-11-15 02:20] EHylands commented on #1
I think new keys are created by the panel and client for every new secure UDP connection.

AES encryption option may be related to panel central monitoring:
Using Conettix IP communication offers a secure path that includes anti-replay/anti-substitution features andprovides enhanced security with up to AES 256-bit

Anyone tried to enable Legacy TCP Automation Enable ?
Note: Legacy TCP Automation E

[2022-11-15 02:31] EHylands commented on #1
<img width="496" alt="Screenshot 2022-11-14 at 9 30 06 PM" src="https://user-images.githubusercontent.com/90003064/201811927-dae8538d-45b4-4e3b-8766-93c8dcef6d44.png">

Can you disable Web and Automation Security and send command 1 1 1 over the unencrypted connection ?

[2022-11-15 05:28] EHylands commented on #1
I was able to hardcode Bosch server certificates in plugin.
I don't have to rely on "rejectUnauthorized: false" anymore.
I'll try to also add older certificates from Solution panel
@brendon , could you run  openssl s_client -showcerts 192.168.10.31:7700 so I can get your version ?

[2022-11-15 19:39] EHylands opened #6 "TLS connection error"
No verbose information available on TLS connection failure.

[2022-11-15 20:55] brendon commented on #1
Hi @EHylands, I haven't managed to get time to sit in the garage and look at those last few things :D I did get a response from Bosch AU saying they weren't aware that the cert had expired so were checking with their team. Given they're self-signed it probably doesn't matter for their purposes. Pretty strange really.

I'm hoping a full reset of my alarm panel will fix up the non-response issue. I

[2022-11-15 21:23] EHylands commented on #1
I published beta version 0.6.3 few minutes ago.
You can install as an alternate version in config-ui.
Better debug information should be available on TLS connection handshake failure.

@sanjay900 command was successfull on my panel
echo -e "\x01\x01\x01" | openssl s_client -connect 192.168.1.73:7700 -quiet | xxd
You should get a few bytes back from the panel even if your certificate is not valid.

[2022-11-16 03:00] brendon commented on #1
This is what I get:

[code]

Is that helpful. It didn't work without adding `-connect`.

[2022-11-16 03:01] brendon commented on #1
Also YES! with the reset I get:

[code]

[2022-11-16 03:08] brendon commented on #1
So much better! Gosh I wonder which particular setting was causing the drama?

[code]

I do wonder if it was one of the 'don't worry about configuring' settings :)

[2022-11-16 03:09] EHylands commented on #1
Amazing news !
Eager to get that plugin working for you !!!

[2022-11-16 03:12] brendon commented on #1
It has officially closed my garage door! :) My first bit of feedback is that I have the output switch set as one-shot but the switch in Apple Home is a toggle (that doesn't revert to off again). Is it possible to pick up this distinction from the panel or is it something to manually configure? I think I remember with konnected.io that I had to configure this in homebridge.

[2022-11-16 03:13] brendon commented on #1
The zones are also triggering well. I just need to reconfigure my zones to match the actual wiring :)

[2022-11-16 03:18] EHylands commented on #1
Victory !!!
I have to admit that running Legacy mode is a bit slow. There is a slight delay for event and commands to be send while running the pooling loop.

[2022-11-16 03:25] EHylands commented on #1
Is the one shot option on solution 3000 panel config ? Will look in RPS.

Automation API in refard to outputs is quite limited. You get output number, output name and state ...

In homebridge, it is quite easy to create a button that reverts back to on or closed state after being activated. Wrote code for that in another of my plugin. (Stateless switch)

[2022-11-16 03:27] EHylands commented on #1
At some time, please lets take note f all the steps necessary to enable plugin on solution panel and will add it to readme file.

[2022-11-16 03:35] EHylands commented on #1
We have our answer regarding mode 2 output manual operation.

Output will only manually get back to off.

Will have to implement that option in output section to manually revert the output state after a certain amount of time.![image](https://user-images.githubusercontent.com/90003064/202077424-36ce1eb2-7067-4f68-baed-dbd829d9f25c.jpeg)

[2022-11-16 04:03] EHylands commented on #1
I was able to recreate what you ask for with the homebridge-delay-switch plugin and  Homekit automation.
Was able to automaticaly close an output 1 sec avec me pressing on it !

[2022-11-16 08:58] brendon commented on #1
Thanks for all that @EHylands! I just went out to dinner after the original success but I'll look into all you wrote tomorrow hopefully. This is the option I have for the garage door. It goes low for 1 second in my case as the garage door wants a single pulse to activate. If it's open, it'll start shutting and vice versa. If it's moving it'll stop where it is:

<img width="1202" alt="image" src="h

[2022-11-16 21:06] brendon commented on #1
Hi @EHylands, in terms of instructions to get going. It was very simple:

- Set Network Module 1 to Use and Configure

These are screenshots of my config for networking but I didn't change any from the defaults after the reset:
<img width="449" alt="image" src="https://user-images.githubusercontent.com/81871/202293759-3c4ffae1-7c87-4009-8b54-53347a4b3ba8.png">

<img width="441" alt="image" src="ht

[2022-11-17 07:46] brendon commented on #1
I also came across this: https://developer.apple.com/documentation/homekit/hmservicetypestatelessprogrammableswitch

Does that pertain to something you can access in home bridge?

[2022-11-19 16:25] EHylands commented on #1
The plugin is always polling for outputs changes every seconds.
Can you see the output state going back to off in homebridge log file after using the keyfob ?
I'm not familiar with keyfobs, will have to read on how they interac with output states.

[2022-11-19 16:39] #6 closed

[2022-11-19 21:06] brendon commented on #1
Sorry, @EHylands :) I wasn't talking about physical key fobs (though I have those too). I'm referring to what is described in the programming guide for the 3000 as Remote Control 1-20. I think they're just a way to catch a remote intention (e.g. I use 'Remote Control 1' to trigger output 1 on my outputs extension card for 1 second (to toggle the garage door):

<img width="1252" alt="image" src="ht

[2022-11-19 21:08] brendon commented on #1
Just following up. There aren't any logs when I trigger the output from Apple Home, just the garage door reed switch showing open and normal again when I close the door:

[code]

[2022-11-19 22:24] EHylands commented on #1
You panel only list 3 available outputs:
[16/11/2022, 4:07:33 pm] [BoschControlPanel_BGSeries] Panel Max Outputs: 3

And one configured output:
[16/11/2022, 4:07:33 pm] [BoschControlPanel_BGSeries] Output1: OUTPUT1

Is your output going to your garage door opener is on your output extension module (B308?) or on board ?

All available outputs should be listed by the automation code
<img width="671"

[2022-11-19 23:01] brendon commented on #1
The output for opening the garage door is on the B308 (first output on that board). There are 4 outputs built into the board, one is a relay. I have this on-board relay also connected to the garage door opener but configured to trigger when one of the buttons is pressed on the keyfob. Bosch said this was the only way to have it set up so that one could use the keyfob or the remote RSC+ output func

[2022-11-19 23:12] brendon commented on #1
Just did some playing around and in the summary in A-Link 'Remote Control 1' shows up as controlling Output 1 on the alarm board (not the extension) even though it still worked to open the door relay on the extension board. I've updated this to Remove Control 5 and it now shows in the right place. I've added a second Remove Control 7 to see how it alters the reporting in your plugin.

Yep, the 'Re

[2022-11-20 05:35] EHylands commented on #1
@brendon Are you using HCT-4 keyfob with WE800EV2 board ?

Output 1 on B308 is configured to go low on remote control 1 ?

Plugin is only pooling panel "every" seconds. Do you think that the short 1 sec transition to low might be missed by the plugin. For testing purposes, want ton increase that time multiplexer to get a bigger detection window ?

[2022-11-20 20:59] brendon commented on #1
I'm using the [Bosch HCT-4UL Radion Wireless 4 Button Keyfob Remote HCT4UL-FOB](https://www.cheapalarmparts.com.au/bosch-radion-wireless-4-button-keyfob-remote-hct4u) with a [Bosch B810 Radion Wireless Receiver](https://www.cheapalarmparts.com.au/b810-radion-wireless-receiver). You can see it uses a different event code to trigger (this is the 4 onboard outputs, Output 4 is the only relay):

<img

[2022-11-20 22:27] EHylands commented on #1
It would be quite easy to force the output to an off state right after being activated (after a predetermined delay).

The only question I have is the following:
- Does the panel automaticaly sets the outputs back to an off state after 1 second like configured and the only problem is the homebridge plugin not correctly updating the accessory state in a timely manner.
- Or, if the panel doesn't set

[2022-11-20 22:34] EHylands commented on #1
On US board, there is 2 ways of setting outputs
- Legacy output mode allows simple on and off control based on Panel/Area/Point events
- Advanced Output profile allows output control based on triggers. Output can retu

[2022-11-20 23:57] brendon commented on #1
I've upped the timeout to 10 Seconds and activated the output via A-Link:

I click on the output:
<img width="273" alt="image" src="https://user-images.githubusercontent.com/81871/202933301-73e4990b-e34e-4902-bdfb-3223450d8b54.png">

The only option is Remote Output ON so I `Launch Selected Function`

<img width="544" alt="image" src="https://user-images.githubusercontent.com/81871/202933330-f3ba9

[2022-11-21 00:12] EHylands commented on #1
I run:
homebridge -D

You may have to give proper path for your config.json file
--user-storage-path [path]  look for homebridge user files at [path] instead of the default location (~/.homebridge)

[2022-11-21 02:16] brendon commented on #1
Ah I see, there was a toggle in the Homebridge Settings dialog. I was waylaid by a google search saying it needed to be done on the command line. Anyway, it seems to work with the longer duration as you say:

[code]

The switch auto-updated in Apple Home too. I was probably being too quick to manually toggle it before.

[2022-11-21 02:36] EHylands commented on #1
That's a downside of using pooled notifications...  Its is quite difficult to detect a very short 1 sec event on the panel.

For pooled updates, the plugin refreshes all points/areas/outputs and waits 0.5 sec before next cycle. This 0.5 sec delay is arbitrary (after extensive testing on my setup). Faster refresh rates makes the plugin unresponsive to user command like changing an area state or an

[2022-11-21 03:30] brendon commented on #1
I reckon! Let's wait and see :) At least the did a firmware update recently so they're still working on stuff. Thanks heaps for your help on this. So glad to have it all up and running :)

[2022-11-21 03:30] #1 closed

[2022-11-21 04:23] sanjay900 commented on #1
Ive been told that a home automation focused firmware is in development for the 3000, but i have zero idea when that will be released or any information on it, but it should have pushed notifications

[2022-11-30 20:13] irieblue opened #8 "Control Panel Connection Error (Client network socket disconnected before secure TLS connection was established)"
I have a Bosch D7412GV4 (G Series) panel , and I keep seeing this message:

[11/30/2022, 12:05:01 PM] [BoschControlPanel_BGSeries] Trying to reconnect ....
[11/30/2022, 12:05:01 PM] [BoschControlPanel_BGSeries] Control Panel Connection Error (Client network socket disconnected before secure TLS connection was established)

Any way to verify this isn't related to my "Automation Passcode"?

[2022-11-30 20:37] EHylands commented on #8
Hi,
TLS handshake and authentification takes place before any plugin operations. You would get a specific error in your log file if error was related to your automation passcode.

You are the first one reporting use with a G panel.

Was the plugin functional before last update or are you trying to install for the first time ?

First step would be to confirm that your panel firmware supports TLS 1.

[2022-11-30 20:50] irieblue commented on #8
This is the first time I am setting this up (so I have never had this working before - I am super excited if it does!

Here is the output to those commands:

$ openssl s_client -connect 10.0.1.28:7700
CONNECTED(00000003)
read:errno=0
---
no peer certificate available
---
No client certificate CA names sent
---
SSL handshake has read 0 bytes and written 287 bytes
---
New, (NONE), Cipher is (NONE)
S

[2022-11-30 20:52] irieblue commented on #8
FWIW,  I am able to access  the panel via the official Bosch RSC iOS App

[2022-11-30 21:11] irieblue commented on #8
@EHylands What Bosch panel are you developing and testing on? My Security/Bosch installer company suggested this may only work on a Bosch B series panel (along with Bosch cloud monitoring  :-(

[2022-11-30 21:17] irieblue commented on #8
<img width="1429" alt="Bsch" src="https://user-images.githubusercontent.com/24499507/204909829-9068790e-1332-4ba7-914a-ed50c7b898f1.png">
![IMG_6612D](https://user-images.githubusercontent.com/24499507/204909844-cda7e8a7-9e1c-466e-a01f-61aae2221a38.jpeg)

[2022-11-30 23:10] EHylands commented on #8
It looks like you panel is listenning on port 7700, but automation encryption is not enabled.

Are you using RPS to configure your B426 module ?
Is the following option set to enabled: Web and Automation Security

[2022-11-30 23:11] irieblue commented on #8
I just found out that my  GV4 panel is running  version 1, and upgrading to version 2 might cause issues for my hard wired control panels. I’ll continue to investigate on my end as I’d really like to get the home ridge functionality working on my network .

[2022-11-30 23:13] irieblue commented on #8
Also I was told by my installer (system was installed in 2014) that the RPS software only works on B series panels. Do you k ow if that is a correct assessment ?

[2022-11-30 23:38] EHylands commented on #8
https://resources-boschsecurity-cdn.azureedge.net/public/documents/Remote_Programming_S_Data_sheet_enUS_78882203019.pdf

As per Bosch documentation, RPS support D7412GV4 panels
Programming can also be done through keyboards

That being said, I am nowhere near Bosch certified installer ...